<!-- The purpose of this page is to check if we can only
access it if we’re logged in, else we are redirected
 to the welcome page. -->


<h1>You have access to this page,
  <%= current_user.username %></h1>
